{% extends 'base.html' %}
{% block title %} home {% endblock title %}
{% block homeactive %}active{% endblock homeactive %}
{% block body %} 
<div class="container my-4">
    <div class="jumbotron bg-light px-4 py-4">
        <h1 class="display-5">Wellcome to CodeX!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary" href="/blog/bloghome" role="button">Go to Blog</a>
    </div>
</div>

  <ul class="nav navbar-dark justify-content-center py-2" style="background-color: #41063e;">
    <li class="nav-item">
      <h3 class="nav-brand" aria-current="page" style="color:white";>Popular Blogpost</a></h3>
    </li>
  </ul>
  <div class="container my-4">
    {% for post in allpost  %}
    <div class="my-2">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Article by {{post.author}}</strong>
            <h3 class="mb-0">{{post.title}}</h3>
            <div class="mb-1 text-body-secondary">{{post.timestamp}}</div>
            <p class="card-text mb-auto">{{post.content|striptags | truncatechars:500}}</p>
            <div>
            <a href="/blog/{{post.slug}}" class="btn btn-primary">Continue reading</a>
        </div>
        </div>
      </div>
    {% endfor %} 
</div>
{% endblock body %}