{% extends 'base.html' %}
{% block title %} BlogPost {% endblock title %}

{% block body %}
{% load humanize %}
{% load extras %}
{% if post %}
<div class="container">
  <div class="my-2">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">Article by {{post.author}}</strong>
        <h3 class="mb-0"> {{post.title}}</h3>
        <div class="mb-1 text-body-secondary">{{post.timestamp}}</div>

        <p class="card-text mb-auto pt-4">{{post.content|safe}}</p>

      </div>
      <div class="my-2 mx-4">
        <h3>Comments:</h3>
        <div class="mx-auto">
          {% if user.is_authenticated %}
          <form action="/blog/postComment" class="mx-auto" method="post">
            {% csrf_token %}
            <div class="form-group me-5">
              <label for="comment">Type your Comment here</label>
              <input type="text" name="comment" class="form-control me-4" id="comment">
              <input type="hidden" name="parentsno" value="">
            </div>
            <input type="hidden" name="postsno" value="{{post.sr_no}}">
            <button type="submit" class="btn btn-primary my-2">Post Comment</button>
          </form>
          {% else %}
          <button type="button" class="btn btn-primary my-2" data-bs-toggle="modal" data-bs-target="#loginmodal">login to Comment</button>
          {% endif %}
        </div>
        <hr class="me-5">
        {% for comment in comments %}
        <div class="row">
          <div class="col-md-1 "><img class="img-fluid" src="/static/images/user2.png" alt="user"></div>
          <div class="col-md-11 "><b>{{comment.user.username}}</b>
            <span class="badge bg-secondary ">{{comment.timestamp | naturaltime}}</span>
            <div>{{comment.comment}}</div>
            
            <div class="reply mx-0">
              {% if user.is_authenticated %}
              <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="collapse"
                data-bs-target="#replybox{{comment.sr_no}}" aria-expanded="false" aria-controls="collapseExample">
                Reply
              </button>
              <div class="collapse" id="replybox{{comment.sr_no}}">
                <div class="card card-body">
                  <form action="/blog/postComment" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="commentreply">post reply</label>
                      <input type="text" name="comment" class="form-control me-4" id="commentreply">
                      <input type="hidden" name="parentsno" value="{{comment.sr_no}}">
                    </div>
                    <input type="hidden" name="postsno" value="{{post.sr_no}}">
                    <button type="submit" class="btn btn-primary my-2">Post reply</button>
                  </form>
                </div>
              </div>
              {% else %}
              <button class="btn btn-sm btn-primary my-2" type="Button" data-bs-toggle="modal" data-bs-target="#loginmodal">
                login to Reply
              </button>
              {% endif %}
            </div>
            {% for reply in repdict|get_val:comment.sr_no %}
            <div class="replies my-2">
              <div class="row">
                <div class="col-md-1 ">
                  <img class="img-fluid" src="/static/images/user2.png" alt="user">
                </div>
                <div class="col-md-11 "><b>{{reply.user.username}}</b>
                  <span class="badge bg-secondary ">{{reply.timestamp | naturaltime}}</span>
                  <div>{{reply.comment}}</div>
                  
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      
      {% endfor %}
    </div>
    </div>
  </div>
</div>

{% endif %}
{% endblock body %}