<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>{% block title %}{% endblock title %}</title>
    <style>
      body{
        font-family:Georgia, 'Times New Roman', Times, serif;
        background-color: cornsilk;
      }
      .btn-primary{
        background-color: #41063e;
      }
    </style>
  </head>
  {% load static %}
  <body  >
    <nav class="navbar navbar-expand-lg  navbar-dark " style="background-color: #41063e;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">CodeX</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link {% block homeactive %}{% endblock homeactive %}" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% block aboutactive %}{% endblock aboutactive %}" href="/about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% block contactactive %}{% endblock contactactive %}" href="/contact">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% block blogactive %}{% endblock blogactive %}" href="/blog/bloghome">Blog</a>
              </li>
            </ul>  
            <form class="d-flex" role="search" method="get" action="search">
              <input class="form-control me-2" name="query" id="query" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-primary" type="submit">Search</button>
            </form>
            
             <!-- Button trigger modal -->
             {% if user.is_authenticated %}
             <li class="nav-item dropdown">
              <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Wellcome {{request.user}} 
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
              </ul>
            </li>
            </button>
             {% else %}
            <button type="button" class="btn btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#signupmodal">
              SignUp
            </button>
            <button type="button" class="btn btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#loginmodal">
              Login
            </button>
            {% endif %}
          </div>
        </div>
      </nav>
      {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{message}}.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}

 

<!-- sign up Modal -->
<div class="modal fade" id="signupmodal" tabindex="-1" aria-labelledby="signupmodal1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="signuupmodal1">SignUp here</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="/signup">
          {% csrf_token %}
          <div class="mb-3">
            <label for="firstname" class="form-label">First Name :</label>
            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="first name" required>
          </div>
          <div class="mb-3">
            <label for="lastname" class="form-label">Last Name : </label>
            <input type="text" class="form-control" id="lastname" name="lastname"  placeholder="last name" required >
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">Username :</label>
            <input type="text" class="form-control" id="username" name="username"  placeholder="username " required >
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email address :</label>
            <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" required>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="password1" class="form-label">Choose Password :</label>
            <input type="password" class="form-control" name="password1" id="password1" required>
          </div>
          <div class="mb-3">
            <label for="password2" class="form-label">Confirm Password :</label>
            <input type="password" class="form-control" name="password2" id="password2" required>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- loginmodal Modal -->
<div class="modal fade" id="loginmodal" tabindex="-1" aria-labelledby="loginmodal1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="loginmodal1">Login here</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="/login">
          {% csrf_token %}
          <div>
            <label for="loginusername" class="form-label">Username :</label>
            <input type="text" class="form-control" id="loginusername" name="loginusername"  placeholder="username " >
          </div> 
          <div class="mb-3">
            <label for="password" class="form-label"> Password :</label>
            <input type="password" class="form-control" id="password" name="password">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% block body %}{% endblock body %}


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> {% endcomment %}

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  
  </body>
</html>